.game-board-table {
    margin: auto;
    width: fit-content;
}

.game-board-table td {
    width: 4em;
    position: relative;
}

.game-board-table td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.game-board-table img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 70%;
}

.game-board-table .checkers-cell-white {
    background-color: white;
    color: black;
}

.game-board-table .checkers-cell-black {
    background-color: black;
    color: white;
}

.game-board-table .movable {
    background-color: #198754;
}

.game-board-table .movable-to {
    background-color: #20c997;
}

.game-board-table .selected-piece {
    background-color: #4a7188;
}

.fake-button {
    pointer-events: none;
}

.gameplay-info-bar {
    margin: auto auto 1em;
    width: fit-content;
}

.game-pieces-expanded-content {
    max-width: 22em;
}