@page
@model WebApp.Pages.CheckersStates.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CheckersState</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.CheckersGameId" class="control-label">CheckersGame</label>
                <select asp-for="Entity.CheckersGameId" class="form-control" asp-items="@Model.CheckersGameSelectListItems"></select>
                <span asp-validation-for="Entity.CheckersGameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.CreatedAt" class="control-label">@Html.DisplayNameFor(model => model.Entity.CreatedAt) (UTC)</label>
                <input asp-for="Entity.CreatedAt" class="form-control"/>
                <span asp-validation-for="Entity.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.SerializedGamePieces" class="control-label"></label>
                <input asp-for="Entity.SerializedGamePieces" class="form-control"/>
                <span asp-validation-for="Entity.SerializedGamePieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.WhiteMoves" class="control-label"></label>
                <input asp-for="Entity.WhiteMoves" class="form-control"/>
                <span asp-validation-for="Entity.WhiteMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.BlackMoves" class="control-label"></label>
                <input asp-for="Entity.BlackMoves" class="form-control"/>
                <span asp-validation-for="Entity.BlackMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.LastMovedToX" class="control-label"></label>
                <input asp-for="Entity.LastMovedToX" class="form-control"/>
                <span asp-validation-for="Entity.LastMovedToX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.LastMovedToY" class="control-label"></label>
                <input asp-for="Entity.LastMovedToY" class="form-control"/>
                <span asp-validation-for="Entity.LastMovedToY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.LastMoveState" class="control-label"></label>
                <input asp-for="Entity.LastMoveState" class="form-control"/>
                <span asp-validation-for="Entity.LastMoveState" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Entity.Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}