@page
@model WebApp.Pages.CheckersStates.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CheckersState</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckersState.CheckersGameId" class="control-label"></label>
                <select asp-for="CheckersState.CheckersGameId" class="form-control" asp-items="ViewBag.CheckersGameId"></select>
                <span asp-validation-for="CheckersState.CheckersGameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.CreatedAt" class="control-label">@Html.DisplayNameFor(model => model.CheckersState.CreatedAt) (UTC)</label>
                <input asp-for="CheckersState.CreatedAt" class="form-control" />
                <span asp-validation-for="CheckersState.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.SerializedGamePieces" class="control-label"></label>
                <input asp-for="CheckersState.SerializedGamePieces" class="form-control" />
                <span asp-validation-for="CheckersState.SerializedGamePieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.MoveElapsedTime" class="control-label"></label>
                <input asp-for="CheckersState.MoveElapsedTime" class="form-control" />
                <span asp-validation-for="CheckersState.MoveElapsedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.GameElapsedTime" class="control-label"></label>
                <input asp-for="CheckersState.GameElapsedTime" class="form-control" />
                <span asp-validation-for="CheckersState.GameElapsedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.WhiteMoves" class="control-label"></label>
                <input asp-for="CheckersState.WhiteMoves" class="form-control" />
                <span asp-validation-for="CheckersState.WhiteMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.BlackMoves" class="control-label"></label>
                <input asp-for="CheckersState.BlackMoves" class="form-control" />
                <span asp-validation-for="CheckersState.BlackMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.LastMovedToX" class="control-label"></label>
                <input asp-for="CheckersState.LastMovedToX" class="form-control" />
                <span asp-validation-for="CheckersState.LastMovedToX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.LastMovedToY" class="control-label"></label>
                <input asp-for="CheckersState.LastMovedToY" class="form-control" />
                <span asp-validation-for="CheckersState.LastMovedToY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersState.LastMoveState" class="control-label"></label>
                <input asp-for="CheckersState.LastMoveState" class="form-control" />
                <span asp-validation-for="CheckersState.LastMoveState" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CheckersState.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
