@page
@model Ended

<div class="align-middle">
    Game Ended!
    @if (Model.Brain.Tied)
    {
        <span>TIED</span>
    }
    @if (Model.Brain.Winner != null)
    {
        @if (Model.PlayerId == null)
        {
            <span>Winner: @Model.Brain.Winner</span>
        }
        @if (Model.PlayerId != null)
        {
            @if (Model.Brain.Winner.Color == Model.PlayerColor)
            {
                <span>YOU WON!</span>
            }
            @if (Model.Brain.Winner.Color != Model.PlayerColor)
            {
                <span>YOU LOST!</span>
            }
        }
    }
</div>