@page
@model WebApp.Pages.CheckersGames.Launch

<a id="shared-launch" asp-page="./Play" asp-route-id="@Model.Id" class="btn btn-primary">Launch game in shared window</a>
<a id="black-launch" asp-page="./Play" asp-route-id="@Model.Id" asp-route-playerId="0" class="btn btn-primary">Launch Black player's window</a>
<a id="white-launch" asp-page="./Play" asp-route-id="@Model.Id" asp-route-playerId="1" class="btn btn-primary">Launch White player's window</a>